@{
    ViewBag.Title = "Add To Cart";
}

<h2>Add To Cart</h2>

<div>
    <p>Product added to cart successfully!</p>
    <p>What would you like to do next?</p>
    <p><a href="@Url.Action("Index", "Home")">Continue Shopping</a></p>
    <p><a href="@Url.Action("ViewCart", "Cart")">View Cart</a></p>
</div>